body {
            margin: 0;
            background: #f2f4ff;
        }
        .container {
            background: #779ecb;
            padding: 10px;
        }
        .container a {
            color: #000000;
            text-decoration: none;
        }
        .nav_bar {
            font-size: 20px;
            font-weight: bold;
            display: inline;
            padding: 10px;
        }
        #Topff {
            margin-left: 5px;
            font-size: 15px;
        }
        li a {
            font-size: 10px;
            color: #000000;
            text-decoration: none;
        }
        li a:hover {
            color: blue;
            text-decoration: underline;
        }
        .section {
            text-align: center;
            font-size: 10px;
        }
        .section img {
            width: 50%;
            heigt: 25px;
            border-radius: 5px;
        }
        #Top {
            margin-left: 5px;
            font-size: 10px;
            color: #779bce;
            text-decoration: underline;
        }
        footer {
            font-size: 10px;
            background: #000000;
            color: #f2f4ff;
            text-align: right;
            margin: 0;
            background: black;
            padding-right: 8px;
        }
        .copywrite {
            Padding-left: 2px;
            Padding-Top: 10px;
            Padding-Bottom: 10px;
            font: 12px normal arial;
            color: white;
        }
